@BG-URI: '~@/assets/img/bg.png';
@BG1-URI: '~@/assets/img/bg1.svg';
@BG2-URI: '~@/assets/img/bg2.svg';
@LAYER-URI: '~@/assets/img/layer.svg';

@NAV-HOME-URI: '~@/assets/img/nav/home.svg';
@NAV-HOME-ACTIVE-URI: '~@/assets/img/nav/home-active.svg';
@NAV-WORK-URI: '~@/assets/img/nav/work.svg';
@NAV-WORK-ACTIVE-URI: '~@/assets/img/nav/work-active.svg';
@NAV-OUR-URI: '~@/assets/img/nav/our.svg';
@NAV-OUR-ACTIVE-URI: '~@/assets/img/nav/our-active.svg';
@NAV-KNOW-URI: '~@/assets/img/nav/knowledge.svg';
@NAV-KNOW-ACTIVE-URI: '~@/assets/img/nav/knowledge-active.svg';
@NAV-JOIN-URI: '~@/assets/img/nav/join.svg';
@NAV-JOIN-ACTIVE-URI: '~@/assets/img/nav/join-active.svg';


@LAYER-H-FRAME:'~@/assets/img/layer.svg';
@LAYER-V-FRAME:'~@/assets/img/layer-frame.svg';
@LAYER-MIDDLE:'~@/assets/img/layer-middle.svg';


@LEFT-HOOK:'~@/assets/img/hook1.svg';
@RIGHT-HOOK:'~@/assets/img/hook2.svg';
@THREE-HOOK:'~@/assets/img/hook3.svg';
